* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Alegreya";
    font-weight: 400;
    font-size: 14px;
}

header {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #edca7f;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.navtext {
    width: 900px
}

.navtext li a {
    font-family: "Alegreya Sans";
    font-weight: 700;
    font-size: 25px;
    color: #5a5a5a;
    text-decoration: none;
}

.navtext li {
    display: inline-block;
    padding: 0px 20px;
}

.logoheader {
    flex: 1;
}

.logoimg {
    height: 70px;
}

.navbutton {
    width: 280px;
    list-style: none;
}

.navbutton li {
    display: inline-block;
    margin: 0px 10px;
    padding: 10px;
    background-color: #d9d9d9;
    border: none;
    border-radius: 50px;
}

.navbuttonimg {
    width: 25px;
    height: 25px;
}

.directory {
    text-decoration: none;
    background-color: #d7ecd9;
    padding: 5px 0px 5px 55px;
}

.dirpcs {
    display: inline-block;
    margin: 0px 5px;
    font-size: 20px;
    text-decoration: none;
    color: #353535;
}

.searchbar {
    background-image: url("../assets/searchbar.png");
    background-size: cover;
    background-position: center;
    padding-top: 300px;
    padding-bottom: 50px;
    text-align: center;
}

.searchbar p {
    font-family: "Alegreya Sans";
    font-weight: 700;
    font-size: 50px;
    color: #000000;
    margin-bottom: 10px;
}

.search_input {
    font-size: 25px;
    border: none;
    background-color: #f5d5cb;
    color: #000000;
    padding: 15px 20px;
    border-radius: 40px;
    width: 500px;
}

.searchicon {
    width: 25px;
    height: 25px;
}

.faqsection {
    background-color: #d5d6ea;
    padding: 60px 80px;
}

.faqtitle {
    font-size: 90px;
    font-weight: 400;
    margin-left: 50px;
    margin-bottom: 25px;
}

.faqwrapper {
    display: flex;
    justify-content: space-between;
}

.faqdiv {
    background-color: #dfa4b2;
    border: none;
    border-radius: 30px;
    padding: 20px 0px;
    width: 45%;
    margin: 30px;
}

.faqdivhead {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 5px 10px 25px;
}

.faqdivtitle {
    display: inline-block;
    padding-left: 15px;
    font-size: 50px;
}

.faqicon {
    width: 50px;
    height: 50px;
}

.questionfaq {
    padding: 15px 20px 15px 25px;
    font-size: 30px;
    border-top: 1px solid black;
}

.loadmorefaq {
    padding: 10px 10px 10px 25px;
    font-size: 30px;
    border-top: 1px solid black;
}

.loadmoretext {
    color: #464646;
    text-decoration: underline;
}

.virtualassistant {
    background-color: #ffffff;
    padding: 80px 110px;
}

.va_box {
    border: none;
    border-radius: 30px;
    background-color: #edca7f;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 9px 13px 6px 4px rgba(0, 0, 0, 0.38);
}

.va_img {
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid black;
    float: left;
    width: 300px;
    margin-right: 180px;
}

.va_text {
    float: left;
}

.va_intro {
    font-family: "Alegreya";
    font-size: 90px;
    text-align: center;
    margin: 30px;
}

.va_bantuan {
    text-decoration: underline;
}

.va_sub {
    font-family: "Alegreya";
    font-size: 30px;
    text-align: center;
    margin: 30px;
}

.footer {
    background-color: #f3ddf2;
    padding: 30px;
}

.footbar {
    display: flex;
    justify-content: space-between;
    padding: 50px 130px;
}

.foot_item {
    list-style: none;
    text-decoration: underline;
}

.foot_menu {
    height: 30px;
    margin-bottom: 25px;
}

.footer_nav_link {
    text-decoration: none;
    color: black;
    font-family: "Alegreya";
    font-size: 30px;
}

.kolom_email {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.newsletter {
    border: white;
    border-radius: 15px;
    padding: 10px;
    width: 500px;
    font-size: 20px;
}

.blacklink {
    color: black;
}

.greylink {
    color: #464646;
}
